doctype html
html(class='no-js' lang="en")
 head
   meta(charset="UTF-8")
   meta(name="author" content="Luiz Carneiro")
   meta(http-equiv="x-ua-compatible" content="ie=edge")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
   meta(charset="UTF-8")
   link(type="text/css" rel="stylesheet" href="css/bootstrap.min.css")
   link(type="text/css" rel="stylesheet" href="css/font-awesome.min.css")
   link(type="text/css" rel="stylesheet" href="css/style.min.css")
   title Bootstrap 4 starter pack
 body
   h1 Starter pack for Bootstrap 4.0.0-beta 
   script(src="js/jquery.min.js").
   script(src="js/popper.min.js").
   script(src="js/bootstrap.min.js").
   script(src="js/main.min.js").

